* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
  min-height: 100vh;
  background-color: var(--background);
  background-image: url('./assets/blur-mobile.png');
  background-position: bottom;
  background-size: 100% 250px;
  background-repeat: no-repeat;
}

.button {
  border: 2px solid var(--button);
  color: var(--text-color);
  border-radius: 8px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: inherit;
  padding: 1.25rem 2rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.button:hover {
  background-color: var(--button);
  filter: brightness(1.025);
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

/* Mobile Header */

.header {
  height: 70px;
  border-bottom: var(--border) 1px solid;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.navbar_wrapper {
  position: absolute;
  top: 71px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  opacity: 0;
  z-index: 1000;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  background-color: var(--background);
}

.navbar_wrapper.open {
  width: 100%;
  opacity: 1;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: var(--border) 1px solid;
}

.navbar li.selected {
  border-left: var(--button) 4px solid;
}

.navbar a {
  color: var(--border-menu-mobile);
  text-decoration: none;
  padding-left: 2rem;
}

.navbar li.selected a {
  color: var(--text-color);
}

.logo {
  --width: 100px;
  background-repeat: no-repeat;
  background-image: url('../assets/logo-mobile.svg');
  background-position: center center;
  background-size: var(--width);
  width: var(--width);
  height: 100%;
  animation: fadeInLeft;
  animation-duration: 1s;
}

.menu {
  --size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: var(--size) var(--size);
  width: var(--size);
  height: 100%;
  cursor: pointer;
  animation: fadeInRight;
  animation-duration: 1s;
}

.menu.open {
  background-image: url('../assets/menu-buguer-open.svg');
}

.menu.close {
  background-image: url('../assets/menu-buguer-close.svg');
}

.take-coffee-desktop {
  display: none;
}

/* Main */

.title_header {
  max-width: 300px;
  margin: 120px auto;
  animation: fadeInDown;
  animation-duration: 1.5s;
}

.title_header_text {
  font-size: 30px;
  text-align: center;
  padding: 0 5px;
}

.take-coffee-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: flipInX;
  animation-duration: 1.6s;
}

.take-coffee-mobile .button {
  width: 200px;
  height: 37px;
}

.arrow {
  margin-left: 10px;
}

.great {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  font-size: 50px;
  margin: 120px 0 60px;
}

.great_coffee {
  font-weight: bold;
}

.great_code {
  color: var(--background);
  font-weight: bold;
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
    -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

.great_coffee,
.great_code {
  text-align: center;
  animation: fadeInUp;
  animation-duration: 2s;
}

.rocket-coffee-figure {
  width: 100%;
  height: 100%;
}

.rocket-coffee-figure img {
  width: 100%;
  height: 100%;
}

/* Desktop */

@media screen and (min-width: 700px) {
  .logo {
    height: 50px;
    margin-bottom: 16px;
  }

  .header {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  .menu {
    display: none;
  }

  .navbar_wrapper {
    flex: 1;
    opacity: 1;
    position: static;
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 100%;
    animation: flipInX;
    animation-duration: 1s;
  }

  .navbar {
    flex: 1;
  }

  .navbar ul {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar li {
    border: none;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar li.selected {
    border: none;
  }

  .navbar a {
    color: var(--text-color);
    padding: 0;
    text-align: center;
    position: relative;
    font-size: 14px;
  }

  .navbar a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: var(--text-color);
    transition: 0.2s ease-in-out;
  }

  .navbar a:hover::after {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url('./assets/blur-1.png'), url('./assets/blur-2.png');
    background-position: bottom left, top right;
    background-size: 600px 600px, 600px 600px;
    background-repeat: no-repeat, no-repeat;
  }

  /* Header  */

  .header {
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    border: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    animation: fadeInDown;
    animation-duration: 1s;
  }

  .navbar_wrapper {
    padding: 0 5rem;
  }

  .logo {
    --width: 40px;
    background-image: url('../assets/logo-desktop.svg');
    animation: fadeInUpBig;
    animation-duration: 2s;
  }

  .take-coffee-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
  }

  .take-coffee-desktop .button {
    width: 100%;
    height: 37px;
    animation: rollIn;
    animation-duration: 1.2s;
  }

  /* Main */

  .title_header {
    display: none;
  }

  .take-coffee-mobile {
    display: none;
  }

  .great {
    font-size: 80px;
    margin: 50px 0 0;
  }

  .rocket-coffee-figure {
    max-width: 700px;
    margin: auto;
    transition: 0.2 ease-in-out;
  }

  .rocket-coffee-figure:hover {
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: 2;
  }
}
